/* Variables */
$font-text:'Great Vibes', cursive;
$font-header:'Montserrat', sans-serif;

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

body{
margin: 0;
font-size: 14px;
line-height: 1.7;
color: #222222;

}

.container{

max-width: 1140px;
margin: 0 auto;
padding: 0 20px; 


}

section{
padding: 96px 0;

}

.section-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

/* Navigation */
.navi{
padding: 15px 0;
ul{
   padding: 0;
   margin: 0;
   list-style-type: none;
   display: flex;
   justify-content: flex-end;
   li{
       display: inline-block;
       padding: 20px;
   }

}
}
.navi{
    h4{
        margin:0px;
        padding: 0px;
        font-family: $font-text;
        font-size: 26px;
        letter-spacing: 1px;
        line-height: 41px;
        color: #fed136;
    }
}

.navi{
a{
    text-decoration: none;
    color: white;
}
}

.nav-top{
display:flex;
justify-content: space-between;

}

/* Splash */

.splash {
height: 100vh;
position: relative;
background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('https://i.ibb.co/8YVZnbC/Header-img.png');
background-position: center center;
background-size: cover;

}

.splash-inner {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}


.btn{
    width: 240px;
    height: 65px;
    border-radius: 3px;
    background-color: #fed136;
    line-height: 53px;
    position: absolute;
    left: 50%;
    transform: translateX( -50%);
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    font-family: $font-header;
    text-align: center;
}


header{
    h1{
        font-size: 75px;
        letter-spacing: -2px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 700;
        font-family: $font-header;
        text-align: center;
        padding: 30px;
      }
      h2{
        font-size: 40px;
        letter-spacing: -1px;
        color: #ffffff;
        font-weight: 400;
        font-style: italic;
        font-family: "Droid Serif";
        text-align: center;

        }
}

.section-box{
    
    flex: 0 0 33.333%;
    position: relative;
    padding: 20px;
    text-align: center;
   
    
}
.section-title{
text-align: center;

}
.logo {
  text-align: center;
I{
    font-size: 33px;
    width: 66px;
    height: 66px;
    background-color: #ffffff;
    border: 3px solid #fed136;
    border-radius: 50%;
    line-height: 66px;
    color: #fed136;
}
}
.our-services{
    h1{
        font-size: 40px;
        letter-spacing: -1px;
        line-height: 75px;
        text-transform: uppercase;
        color: #222222;
        font-weight: bold;
        font-family: $font-header;
        text-align: center;
    }
    h2{
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 75px;
        color: #222222;
        font-weight: 700;
        font-family: $font-header;
        
    }
    p{
        font-size: 14px;
        letter-spacing: 0px;
        color: #777777;
        font-weight: 400;
        font-family: "Roboto Slab";
        text-align: center;
    }
}

.our-portfolio{
    text-align: center;
    background-color: #f7f7f7;
    padding-top: 170px;
    h4{
        font-size: 18px;
        letter-spacing: 0px;
        color: #333333;
        font-weight: 700;
        font-family: $font-header;
        padding: 0px;
        margin: 0px;
    }
    p{
        font-size: 14px;
        color: #737373;
        font-weight: 400;
        font-style: italic;
        font-family: "Droid Serif";
        padding: 0px;
        margin: 0px;
    }

}
.gallery-box{
    flex: 0 0 33.3333%;
    padding: 0px;
    margin: 0 0 141px 0;

    img{
        height: 100%;
        object-fit: cover;
        max-width: 290px;
        max-height: 300px;
    }
}
.gallery-text{
    max-width: 290px;
    background-color:white;
    margin: 0 auto;
    padding: 20px 0;
}
.img-wrapper{
    margin-top: 73px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}


.page-footer{
    Li{
        font-size: 0px;
        padding: 5px;
        text-align: center; 
    
        I{
            font-size: 20px;
        background-color: #222222;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #ffffff;
        border-radius: 50%;
        }
    }
}


   
   


.page-footer ul{
   
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  
  
}

.page-footer{
    
    padding: 48px 0px;
    p{
        text-align: center;
        margin-top: 14px;
        
    }
    
}

