/* Variables */
$font-text:'Great Vibes', cursive;

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

body{
margin: 0;
font-size: 16px;
line-height: 1.7;
color: #222222;

}

.container{

max-width: 1140px;
margin: 0 auto;
padding: 0 20px; 


}

section{
padding: 96px 0px;

}

.section-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    ; 
 }

/* Navigation */
.navi{
padding: 15px 0;
ul{
   padding: 0;
   margin: 0;
   list-style-type: none;
   display: flex;
   justify-content: flex-end;
   li{
       display: inline-block;
       padding: 5px;
   }

}
}
.navi{
    h4{
        margin:0px;
        padding: 0px;
        font-family: $font-text;
        font-size: 26px;
        letter-spacing: 1px;
        line-height: 41px;
        color: #fed136;
    }
}

.navi{
a{
    text-decoration: none;
    color: white;
}
}

.nav-top{
display:flex;
justify-content: space-between;

}

/* Splash */

.splash {
height: 100vh;
position: relative;
background-image: url('https://i.ibb.co/8YVZnbC/Header-img.png');
background-position: center center;
background-size: cover;
}

.splash-inner {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}


.btn{
    width: 240px;
    height: 65px;
    border-radius: 3px;
    background-color: #fed136;
    line-height: 53px;
    position: absolute;
    left: 50%;
    transform: translateX( -50%);
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}


header{
    h1{
        font-size: 75px;
        letter-spacing: -2px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: center;
      }
      h2{
        font-size: 40px;
        letter-spacing: -1px;
        color: #ffffff;
        font-weight: 400;
        font-style: italic;
        font-family: "Droid Serif";
        text-align: center;

        }
}

.section-box{
    
    flex: 0 0 33.333%;
    position: relative;
    padding: 20px;
   
    
}
.section-title{
text-align: center;

}
.logo {
  text-align: center;
I{
    font-size: 33px;
    width: 66px;
    height: 66px;
    background-color: #ffffff;
    border: 3px solid #fed136;
    border-radius: 50%;
    line-height: 66px;
    color: #fed136;
}
}